@inherits LayoutComponentBase

<div class="page">
    <header style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: sandybrown; border-bottom: 1px solid #ddd;">
        <div>
            <h1 style="margin: 0;">RecordShop</h1>
            <p >Welcome welcome!!!!!</p>
        </div>
        <nav>
            <NavLink href="/" class="nav-link" style="margin-right: 15px;">Home</NavLink>
            <NavLink href="/about" class="nav-link">About</NavLink>
        </nav>
    </header>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<footer>
    <p>2025, Kuma</p>
</footer>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
