@namespace RecordShopBlazor.Layout
@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase

<div class="page">
    <header class="navbar is-primary">
        <div>
            <h1 class="navbar-item title">RecordShop</h1>
            <p class="navbar-item subtitle">Welcome welcome!!!!!</p>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <NavLink href="/">Home</NavLink>
                <NavLink href="/about">About</NavLink>
                <NavLink href="/records">All Records</NavLink>
            </div>
        </div>
    </header>

    <main class="section">
        <div>
            @Body
        </div>
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>2025, Kuma</p>
        </div>
    </footer>
</div>